@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/functions';

@font-face {
    font-family: openDyslexic;
    src: url('/police/OpenDyslexic3-Regular.ttf');
}

* {
    font-family: openDyslexic;
}

.card {
    margin: 0 auto;
    float: none;
}

.no-break {
    word-break: keep-all;
}

$theme-colors: map-merge($theme-colors, (
  "primary": rgb(16, 56, 143)
));

@import '../../node_modules/bootstrap/scss/bootstrap.scss';